---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout>
  <section class="py-12 border border-amber-700 border-dashed">
    <div class="max-w-6xl mx-auto px-4 bg-amber-200">
      <p>Section 1</p>
    </div>
  </section>

  <section class="py-12 border-b border-amber-700 border-dashed">
    <div class="max-w-6xl mx-auto px-4 bg-blue-200">
      <p>Section 2</p>
    </div>
  </section>

  <section class="py-12 border-b border-amber-700 border-dashed">
    <div class="max-w-6xl mx-auto px-4 bg-green-200">
      <p>Section 3</p>
    </div>
  </section>

  <section class="py-12 border-b border-amber-700 border-dashed">
    <div class="max-w-6xl mx-auto px-4 bg-yellow-200">
      <p>Section 4</p>
    </div>
  </section>

  <section class="py-12 border-b border-amber-700 border-dashed">
    <div class="max-w-6xl mx-auto px-4 bg-purple-200">
      <p>Section 5</p>
    </div>
  </section>
  <section class="py-12 border-b border-amber-700 border-dashed">
    <div class="max-w-6xl mx-auto px-4 bg-red-200">
      <p>Section 6</p>
    </div>
  </section>
  <section class="py-12 border-b border-amber-700 border-dashed">
    <div class="max-w-6xl mx-auto px-4 bg-orange-200">
      <p>Section 7</p>
    </div>
  </section>
  <section class="py-12 border-b border-amber-700 border-dashed">
    <div class="max-w-6xl mx-auto px-4 bg-pink-200">
      <p>Section 8</p>
    </div>
  </section>
  <section class="py-12 border-b border-amber-700 border-dashed">
    <div class="max-w-6xl mx-auto px-4 bg-gray-200">
      <p>Section 9</p>
    </div>
  </section>
  <section class="py-12 border-b border-amber-700 border-dashed">
    <div class="max-w-6xl mx-auto px-4 bg-gray-200">
      <p>Section 10</p>
    </div>
  </section>
  <section class="py-12 border-b border-amber-700 border-dashed">
    <div class="max-w-6xl mx-auto px-4 bg-gray-200">
      <p>Section 11</p>
    </div>
  </section>
</PageLayout>
